:root {
  --basic-main-background: #888888;
  --basic-dark-blue: #293449;
  --basic-red: #EE3643;
  --basic-blue: #32425C;
  --basic-top-background: rgba(0, 0, 0, 0.0001);
  --basic-green: #63A63E;
  --basic-background-headers: #F9F5F0;
  --basic-white: #FFFFFF;
  --basic-background: #F1F5F7;
  --basic-black: #000000;
  --basic-footer: #F3F7F9;
  --basic-yellow: #FFD180; 
  --basic-catalog-header: #F2F6F8;
  --basic-catalog-background: #F7F3EC;
  --shadow-logo: rgba(0, 0, 0, 0.24);

  --promo-block-materials: #FFBF47;
  --promo-block-tool: #3BBCE3;
  --promo-block-technic: #DC91D8;
  --promo-block-discounts: #8ED78F;
  --promo-block-delivery: #FFC047;
}
   
body {
  font-family: "Cuprum","PT Sans", sans-serif;
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
/*color: var(--basic-white);*/
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

.main-page a {
  text-decoration: none;
}

.catalog-page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
} 

.button {
  background-color: var(--basic-red);
  text-transform: uppercase;
  color: var(--basic-white);
}
    
/*header*/
   
.background-header {
  background-color: var(--basic-dark-blue);
  font-size: 18px;
  line-height: 24px;
}

.background-header a {
  color: var(--basic-white);
}

.button-order {
  background-color: var(--basic-green);
}

.top-background {
  background-color: var(--basic-top-background);
}

.top-background p {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
}

.title {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  font-style: italic;
}

.search-form input{
  background: var(--basic-dark-blue);
  border: none;
}

.header-phone {
  color: var(--basic-red);
} 

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var( --basic-blue);
}

/*NAV*/
   
.main-navigation {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-blue);
  box-shadow: inset 0px -5px 0px var(--basic-dark-blue);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-white);
}

 /*.site-navigation a:hover, .site-navigation a:focus{
   background-color: var(--basic-blue);
  }*/

/*promo*/  

.promo-list p {
  list-style: none;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}

/*promo-list a{
  color: var(--basic-white);
}*/
   
/*popular goods*/

 .main-section-header {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
}
    
.background-headers {
  background-color: var(--basic-background-headers);
}

.popular-goods-list {
  list-style: none;
}
   
/*popular-companies*/

.popular-companies-list {
  list-style: none;
}
    
/*services*/ 

.services-header {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services {
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-background);
}

.services-list { 
  font-size: 21px;
  line-height: 30px;
  list-style: none;
}
       
/*info-about*/ 

.info-about { 
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.info-about-list {
  font-size: 18px;
  line-height: 24px;
}

/*catalog*/

.inner-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
  background-color: var(--basic-catalog-header);
}

.list-of-products {
  list-style: none;
}

.description {
  background-color: var(--basic-background);
}

.catalog-section-header {
  color: var(--basic-black);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/*footer*/

.logo {
  box-shadow: inset 0px -5px 0px var(--shadow-logo);
}

.background-footer {
  background-color: var(--basic-blue);
} 

.background-footer p {
  color: var(--basic-footer);
  font-size: 18px;
  line-height: 24px;
}

.contacts-phone {
  color: var(--basic-footer);
}

.footer-navigation {
  list-style: none;
}

.footer-navigation a {
  color: var(--basic-background);
}

.additional-navigation {
  list-style: none;
}

.additional-navigation a {
  color: var(--basic-yellow);
}

.lower-background-footer {
  background-color: var(--basic-dark-blue);
}

.lower-background-footer p {
  color: var(--basic-white);
}

.lower-background-footer a {
  color: var(--basic-yellow);
}

.footer-social {
  list-style: none;
}
